* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    width: 100%;
    background-color: var(--color-bg);
    scroll-padding-top: 96px;
}

body {
    width: 100%;
}

main {
    padding-top: 7rem;
}

h1 {
    font-family: "Bowlby One", sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: var(--h1-color);
    text-shadow: var(--h1-shadow);
    -webkit-text-stroke: var(--text-stroke);
    flex-wrap: wrap;
}

p, h2 {
    font-family: "Funnel Sans", sans-serif;
}

/* DATA THEME COLOR SCHEMES */

[data-theme="light"] {
    /* General & Nav */
    --color-bg: rgb(243, 174, 0);
    --button-hover:  rgba(255, 255, 255, 0.5);
    --nav-bg-color: #8F00FF;
    --nav-link-color: white;
    --nav-link-hover: rgb(235, 194, 91);
    --nav-border: 3px solid black;
    --nav-scroll-shadow: black;
    --dropdown-bg: teal;
    --dropdown-hover: rgb(243, 174, 0);
    --prof-fig-color: #fefefe;;
    --prof-fig-hover: rgb(235, 194, 91); ;
    --h1-color:  white;
    --h1-shadow: 10px 4px 1px black;
    --text-stroke: 2px black;
    --h2-color: black;

    /* About */
    --about-button: black ;
    --about-button-shadow: 4px 4px 1px rgb(231, 50, 50);
    --about-button-border: rgb(223, 77, 77);
    --modal-button: rgb(243, 174, 0);
    --modal-shadow: rgb(20, 20, 20);
    --modal-picture: url('./resources/images/whitney_headshot.jpg');
    --modal-border: black;

    /* Projects */
    --projects-section-border: black;
    --projects-bg-color: rgb(223, 77, 77);
    --project-wrapper-bg-color: white;
    --project-wrapper-shadow: black;
    --project-img-border: black;
    --project-description: black;
    --project-button: black;
    --project-wrapper-border: black;
    --project-button-border: #029c9c;
    --project-button-shadow: 4px 4px 1px #027a7a;
    --project-button-hover: rgb(236, 209, 209);
    --span-bg: rgb(243, 174, 0);

    /* Contact */
    --contact-button: black;
    --contact-text: black;
    --input-border: black;
    --input-shadow: black;

    --footer-color: black;
}

[data-theme="cyberpunk"] {
    /* General & Nav */
    --color-bg:  #0b080c;
    --button-hover:  rgba(255, 255, 255, 0.1);
    --nav-bg-color: #520172;
    --nav-link-color: white;;
    --nav-link-hover: #badf03;
    --nav-border: 3px solid black;
    --nav-scroll-shadow:  black;
    --dropdown-bg: rgb(41, 167, 167);
    --dropdown-hover:   #8709b9;
    --prof-fig-color: #fefefe;;
    --prof-fig-hover: #badf03;
    --h1-color: #013c41;
    --h1-shadow: none;
    --text-stroke: 4px #05d9e8;
    --h2-color: white;

    /* About */
    --about-button: white ;
    --about-button-shadow: 4px 4px 1px rgb(153, 177, 36);
    --about-button-border:  #badf03;
    --modal-button: #badf03;
    --modal-shadow:  #8709b9;
    --modal-picture: url('./resources/images/whitney_headshot_dark.png');
    --modal-border: black;

    /* Projects */
    --projects-section-border: #0b080c;
    --projects-bg-color: #0b080c;
    --project-wrapper-bg-color:white;
    --project-wrapper-shadow: #e2346b;
    --project-img-border:black;
    --project-description: rgb(8, 3, 3);
    --project-button: black ;
    --project-wrapper-border: #e2346b;
    --project-button-border: #8709b9;
    --project-button-shadow: 4px 4px 1px #72089c;
    --project-button-hover: rgba(0, 0, 0, 0.1);
    --span-bg: #badf03;

    /* Contact */
    --contact-button: white ;
    --contact-text: white;
    --input-border:  #e2346b;
    --input-shadow:  #e2346b;

    --footer-color: white;
}

/* FONTS */
.funnel-sans-portfolio {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  
.bowlby-one-regular {
    font-family: "Bowlby One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
/* KEYFRAMES */
@keyframes appearOnLoad {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* BUTTON STYLING */
button {
    margin: 32px 16px;
    font-family: "Funnel Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: transparent;
    padding: 16px;
    cursor: pointer;
}

button:hover {
    transform: translate(4px, 4px);
    transition: 0.3s all ease-in-out;
    box-shadow: none;
    background-color: var(--button-hover);
}

button:active {
    transform: translate(4px, 8px);
    background-color: var(--button-hover);
}

/* HEADER AND NAV */
#nav {
    display: flex;
    padding: 8px 0;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
    height: 96px;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: var(--nav-bg-color);
    border-bottom: var(--nav-border);
}

#mobile-nav {
    display: none;
    visibility: hidden;
}

.logo-container a {
    cursor: pointer;
}

.logo-container img {
    height: 88px;
}

.nav-items-container {
    display: flex;
    align-items: center;
 }

.nav-link {
    font-size: 1.2rem;
    font-family: "Funnel Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 24px;
    width: 88px;
    text-align: center;
}

.nav-link:hover {
    font-size: 1.25rem;
    color:var(--nav-link-hover);
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.2s linear;
    transform: translate(-2px, -2px);
}


.dropdown {
    visibility: hidden;
}


.profile-figure {
    font-size: 2rem;
    color:var(--prof-fig-color);
    width: 88px;
}

.fa-linkedin {
    padding: 16px;
    margin: 0 16px;
}

.fa-github {
    padding: 16px;
}


.profile-figure i:hover {
    color: var(--prof-fig-hover);
    transform: translateY(-2px);
    cursor: pointer;
    transition: transform 0.2s, font-size 0.2s;
    font-size: 2.25rem;
}

/* NAV SCROLL */

.nav-scrolled {
    box-shadow: 5px 10px 30px 2px var(--nav-scroll-shadow);
}


/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(235, 194, 91);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #029c9c;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #badf03;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #badf03;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* ROUNDED SLIDER */
  .slider.round {
    border-radius: 25px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* ABOUT SECTION */
#about-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 2;
    scroll-margin-top: 96px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 70%;
    height: auto;
    margin-left: 16px;
    margin-right: 64px;
    animation: appearOnLoad 0.75s linear 0s;
}

.about-text {
    display: flex;
    font-family: "Bowlby One", sans-serif;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}


.about-text h2 {
    color: var(--h2-color);
    letter-spacing: 3px;
    font-weight: 900;
}


.about-button {
    text-decoration: none;
    color: var(--about-button);
    box-shadow: var(--about-button-shadow);
    border: 3px solid var(--about-button-border);
    max-width: 800px;
    padding: 0;
    height: 65px;
}


.about-button a {
    border: none;
    box-shadow: none;
    display: block;
    align-content: center;
    max-width: 800px;
    height: 60px;
}

/* MODAL */
.modal {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open {
    opacity: 1;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}

.modal-inner {
    background-color: rgba(255, 255, 255, 0.99);
    border: 3px solid var(--modal-border);
    box-shadow: 10px 10px 1px var(--modal-shadow);
    line-height: 24px;
    font-size: 1.1rem;
    width: 60%;
    height: auto;
}

.modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.modal-content p {
    padding: 2.5rem;
}

.modal-image {
    min-height: 600px;
    background-image: var(--modal-picture);
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 4px solid black;
}

.modal-button-container {
    width: 100%;
    text-align: right;
    padding: 0;
}

.modal-inner button {
    color: black;
    border: 3px solid black;
    background-color: var(--modal-button);
    padding: 0 8px 3.2px 10.4px;
    margin: 10px;
    font-weight: 700;
    text-align: center;
}

.modal-inner button:hover {
    transform: none;
    transition: none;
    box-shadow: none;
    background-color: white;
}


/* PROJECTS SECTION */
#projects-section {
    height: auto;
    width: 100%;
    background-color: var(--projects-bg-color);
    padding: 48px 0 128px 0;
    border-top: 3px solid var(--projects-section-border);
    border-bottom: 3px solid var(--projects-section-border);
}

.projects-header {
    padding-bottom: 20px;
    text-align: center;
}

/* Project Figures */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 25px;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    min-width: 35%;
    max-width: 500px;
    padding-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
    border: 3px solid var(--project-wrapper-border);
    box-shadow: 10px 10px 1px var(--project-wrapper-shadow);
    background-color: var(--project-wrapper-bg-color);
}

.project-photos-container {
    display: flex;
    justify-content: right;
    width: auto;
    height: auto;
    overflow: hidden;
    margin-left: 2.5rem;
}

.project-photo-desktop {
    width: 640px;
    max-height: 360px;
}

.project-photo-desktop img {
    width: 100%;
    height: auto;
    border: 5px solid var(--project-img-border);
    border-bottom: 20px solid var(--project-img-border);
    border-radius: 1%;
}

.project-photo-mobile {
    max-height: 350px;
    width: 170px;
    padding-bottom: 60px;
}

.project-photo-mobile img {
    width: 100%;
    height: auto;
    border: 5px solid var(--project-img-border);
    border-radius: 25px;
    position: relative;
    right: 50px;
    top: 40px;
}

.project-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 750px;
    font-family: "Funnel Sans", sans-serif;
    color: var(--project-description);
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
}

.project-description p {
    width: 80%;
}

.span-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 40px 0;
}

.project-description span {    
    background-color: var(--span-bg);
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.project-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.project-title h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.project-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.project-button {
    color: var(--project-button);
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid var(--project-button-border);
    box-shadow: var(--project-button-shadow);
    font-size: 1.1rem;
    width: 325px;
    margin-top: 0;
}

.project-button a {
    padding: 5% 31%;
    border: none;
    box-shadow: none;
    text-decoration: none;
    background-color: transparent;
}

button.project-button:hover {
    background-color: var(--project-button-hover);
}

button.project-button:active {
    transition: 0.2s all linear;
}

/* PROJECT 1 */
.project-1 {
    display: flex;
}

/* PROJECT 2 */
.project-2 {
    display: flex;
}

/* CONTACT */

.contact-header {
    text-align: center;
    height: auto;
    width: 100%;
    padding-top: 64px;
}

.contact-header h3 {
    font-family: "Funnel Sans", sans-serif;
    max-width: 592px;
    justify-self: center;
    margin: 16px;
    font-weight: 200;
    color: var(--contact-text);
}

.contact-form-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 320px;
    padding: 80px;
    margin-top: 32px;
}

.input {
    margin: 12px;
    padding: 16px;
    width: 400px; 
    border: 3px solid var(--input-border);
    box-shadow: 4px 4px 1px var(--input-shadow);
}

.input::placeholder {
    font-family: "Funnel Sans", sans-serif;
    font-size: 16px;
}

.message {
    height: 128px;
}

.submit {
    margin: 16px;
    color: var(--contact-button);
    font-family: "Funnel Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    background-color: transparent;
    border: 3px solid var(--about-button-border);
    box-shadow: var(--about-button-shadow);
    padding: 16px;
    cursor: pointer;
    width: 432px;
}

.submit:hover {
    transform: translate(4px, 4px);
    transition: 0.3s all ease-in-out;
    box-shadow: none;
    background-color: var(--button-hover);
}

.submit:active {
    transform: translate(4px, 8px);
    background-color: var(--button-hover);
}


/* FOOTER */
#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 64px;
}

.footer-text {
    font-family: "Funnel Sans", sans-serif;
    color: var(--footer-color);
    padding: 0 32px;
    font-size: 0.75rem;
}

/* RESPONSIVE MEDIA QUERIES */
@media only screen and (max-width: 1575px) {
    .modal-inner {
        width: 85%;
    }
}

@media only screen and (max-width: 1250px) {
    .modal-inner {
        width: 90%;
    }
}

@media only screen and (max-width: 1120px) {
    .about-text-container {
        text-align: center;
        max-width: 80%;
        margin: 0;
    }

    .modal-inner {
        width: 90%;
        max-height: 75%;
        overflow: auto;
    }

    .modal-content {
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 1fr;
    }

    .modal-content p {
        margin: 0;
    }

    .modal-image {
        max-width: 100%;
        max-height: 100%;
        grid-row-start: 1;
        grid-row-end: 2;
        border-bottom: 4px solid black;
    }

    .modal-button-container {
        position: fixed;
        width: 85%;
    }

    .modal-inner::-webkit-scrollbar {
        width: 5px;
        background-color: rgb(119, 118, 118);
    }

    .modal-inner::-webkit-scrollbar-thumb {
        background-color: rgba(211, 211, 211, 0.822);
    }

    .projects-container {
        justify-content: center;
        text-align: center;
        height: auto;
        overflow: hidden;
    }

}

/* HAMBURGER NAV ICON - DROPDOWN MENU */
@media only screen and (max-width: 950px) {
    html {
        font-size: 13px;
    }

    .logo-container {
        display: none;
    }

    #nav {
        display: none;
        visibility: none;
    }
    
    #mobile-nav {
        display: flex;
        visibility: visible;
        font-family: "Funnel Sans", sans-serif;
        font-weight: 700;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        z-index: 10;
        position: fixed;
        padding: 0;
        transition: all 0.5s;
    }

    .mobile-nav {
        background-color: var(--nav-bg-color);
        border-bottom: 3px solid black;
    }

    .mobile-logo-container {
        display: flex;
        justify-content: left;
        margin-left: 32px;
    }

    .mobile-logo-container img {
        height: 80px;
    }

    .dropdown-container {
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    .dropdown-icon {
        font-size: 1.5rem;
        border: none;
        outline: none;
        color: #d6d1ca;
        background-color: inherit;
        font-family: inherit; 
        box-shadow: none;
        margin-right: 32px;
    }

    .dropdown-icon:hover {
        cursor: pointer;
        transform: none;
        transition: none;
        background-color: transparent;
    }

    .dropdown-icon:active {
        border: none;
    }

    .dropdown-content {
        display: flex;
        height: 0;
        background-color: var(--dropdown-bg);
        position: absolute;
        width: 100%;
        top: 105px;
        z-index: 1;
        overflow: hidden;
        margin-top: 17.6px;
        transition: 0.5s;
        text-align: center;
    }

    .dropdown-content.active {
        height: 290px;
        border-bottom: 2px solid black;
    }

    .dropdown-content ul {
        display: block;
        justify-items: center;
        box-sizing: border-box;
        list-style-type: none;
        opacity: 0;
        transition: 1s;
        width: 100%;
    }

    .dropdown-content.active ul {
        opacity: 1;
    }

    .dropdown-content li {
        font-size: 1.54rem;
        width: 100%;
        float: none;
        padding: 12px 16px;
        font-weight: 500;
    }

    .dropdown-item {
        border-bottom: 1px solid black;
    }


    .dropdown-item a {
        text-decoration: none;
        color: #fefefe;
    }

    .dropdown-item a:hover {
        color:  var(--dropdown-hover);
        cursor: pointer;
        transition: none;
    }

    .mobile-figures {
        display: inline-flex !important;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .mobile-figures li {
        width: 15%;
    }

    .profile-figure i:hover {
        color: var(--dropdown-hover);
    }

    .fa-linkedin {
        margin-left: 0;
        padding: 16px;
    }
    
    .fa-github {
        margin-right: 0;
        padding: 16px;
    }

    .about-text h2 {
        margin: 16px 0;
    }
    
    #projects-section {
        padding-bottom: 16px;
    }

    .projects-header {
        padding-bottom: 16px;
    }

    .projects-header h1 {
        margin: 0 16px;
    }

    .project-wrapper {
        font-size: 1.1rem;
    }

    .project-description {
        margin: 0 10px;
    }

    .project-button {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 575px) {
   
    .about-button {
        margin: 16px 8px;
        font-size: 16px;
    }

    .about-button a {
        position: relative;
        bottom: 16px;
    }

    h1 {
        font-size: 56px;
    }
    
    .about-text h2 {
        font-size: 20px;
    }

    .about-text p {
        margin-bottom: 16px;
        font-size: 14.4px;
    }

    .headshot-container {
        margin-top: 16px;
    }

    .project-wrapper {
        font-size: 14.4px;
    }

    .project-button {
        font-size: 14.4px;
    }

    .contact-form {
        padding-left: 0;
        padding-right: 0;
        width: 300px;
    }

    .input {
        width: 280px;
    }

    .submit {
        width: 312px;
    }
}

@media only screen and (max-width: 400px) {
    #about-section {
        width: 100%;
    }

    h1 {
        font-size: 46.4px;
    }

}